.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: all 300ms ease;
}
.sidebar > .logo{
    display: flex;
    


}
.sidebar > .logo>span>span{
    color: var(--black);
}